.navigation{
    width: 100%;
    transition: all 0.3s ease;
    background-color: var(--background);
}

.nav{
    height: 80px;
    padding: 10px 30px;
    width: 100%;
    max-width: 1300px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    display: flex;
    gap: 3rem;
    list-style: none;
}

.link{
    transition: all ease 0.3s;
}

.link:hover, .link:active{
    transform: translateY(-5px);
}

.link a{
    text-decoration: none;
    color: var(--text);
    font-size: 18px;
    font-weight: 500;
}

.logo{
    font-size: 30px;
    color: var(--contrasting);
    text-decoration: none;
    font-weight: 700;
}

.btn{
    background-color: var(--text);
    color: var(--background);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    border: solid 2px transparent;
    font-size: 18px;
    transition: all 0.3s ease;
}

.btn:hover{
    border-color: var(--text);
    color: var(--text);
    background-color: var(--background);
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px  rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    padding: 30px;
    list-style: none;
    transition: all 0.5s ease;
}

.sidebar-link{
    transition: all ease 0.3s;
}

.sidebar-link:hover, .sidebar-link:active{
    transform: translateY(-5px);
}

.working-link{
    text-decoration: none;
    color: var(--text);
    font-size: 18px;
    font-weight: 500;
}

.menu-button{
    display: none;
}

.bx-menu{
    font-size: 2rem;
    padding: 15px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.bx-menu:hover, .bx-menu:active{
    background-color: var(--background-darker);
}

.bx-x{
    font-size: 2rem;
    padding: 10px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.bx-x:hover, .bx-x:active{
    background-color: var(--background-darker);
}

/* MEDIA QUERIES */

@media (max-width: 800px) {
    .hide{
        display: none;
    }
  
    .menu-button{
        display: block;
    }
}

@media (max-width: 500px) {
    .sidebar{
        width: 100%;
    }
}