.page{
    background-color: var(--background-darker);
    height: 100%;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FORM CONTAINER */
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    background-color: var(--background);
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    min-width: 450px;
}

.form-container h1{
    font-size: 2.5rem;
    color: var(--contrasting);
    margin-bottom: 30px;
}

/* INPUTS */
.inputs{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.textfield{
    background-color: #eee;
    border: none;
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: 4px;
    outline: none;
}

.password-stuff{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.password-stuff span{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.tick:checked{
    accent-color: var(--text);
}

.link{
    color: var(--text);
    text-decoration: none;
    transition: all 0.3s ease;
}

.link:hover, .link:active{
    opacity: 0.6;
    text-decoration: underline;
}

.login{
    padding: 8px;
    font-size: 18px;
    width: 100%;
    border: none;
    text-transform: uppercase;
    margin-bottom: 20px;
    background-color: var(--text);
    color: var(--background);
    border-radius: 4px;
    transition: all 0.3s ease;
}

#login:hover, #login:active{
    opacity: 0.6;
}